body {
  background-color: white;
}
h1 {
	margin-left: .3em;
	margin-bottom: .25em;
	font-size: 2.5em;
	line-height: 1.2em;

}

p {
	margin-left: 1em;
}

.small {
	margin-top: -1em;
	line-height: .5em;
	font-size: .75em;
}
.aggregate {

	margin-top: 1em;
	margin-left: 21em;
	margin-bottom: 2em;
	
}

.data {
	margin-left: 45em;
}