<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<h1> Stocks </h1>

	<% stocks.forEach((stock) => { %>
	<b> <%= stock[0]%>: </b>
	<%= stock[1]%> <br>
	 <% }) %>

<h1> Crypto </h1>

	<% cryptos.forEach((crypto) => { %>
	<b> <%= crypto[0]%>: </b>
	<%= crypto[1]%> <br>
	 <% }) %>



</body>
</html>
